*,
*::before,
*::after {
	box-sizing: border-box;
}

*{
	margin: 0;
	padding: 0;
	/* font: inherit; */
}

body{
	min-height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
}

img,
svg,
picture,
video {
	max-width: 100%;
}

/* HEADER LINK / UL LI */
.head-nav a,
.foot a{
	text-decoration: none;
	color: white;
	margin: 0 3px;
}

.head-nav ul li,
.foot ul li{
	list-style: none;
	display: inline;
}

