/* HEADER */
.head{
    background-color: orange;
    min-height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.head-nav{
    display:flex;
    justify-content:space-between;
    border: 1px solid black;
    vertical-align: middle;

}
#head-logo{
    max-height: 25px;
    vertical-align: middle;
}

