/* HEADER */
.head{
    background-color: #FF6900;
    min-height: 50px;
    line-height: 50px;
    vertical-align: middle;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.head-nav{
    display:flex;
    justify-content:space-between;
    vertical-align: middle;
}
#head-logo{
    max-height: 25px;
    vertical-align: middle;
}
/* MAIN */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
    padding-top: 30px;
}
/* PROFILE IN MAIN */
.profile{
    min-height:500px;
    padding-top: 50px;
    /* padding-bottom: 10px; */
    position: relative;
}
.profile-2{
    position: absolute;
    top: 0;
    left: 0;
}
.profile-top{
    position: relative;
    color: white;
}
.profile-top .sconto{
    position: absolute;
    bottom: 50px;
    left:0;
    background-color: red;
    padding: 5px;
    font-size: 13px;
    padding: 5px;

}
.profile-top .sostenibilità{
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 13px;
    padding: 5px;
    background-color: green;
}

.last-sostenibile{
    position: absolute;
    bottom: 50px;
    left: 0;
    font-size: 13px;
    padding: 5px;
    background-color: green;
}

.profile-top .heart{
    position: absolute;
    top:10px;
    right: 0;
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-size: 30px;
    cursor: pointer;
}

.heart:hover{
    color: red;
}

.profile img{
    max-height: 500px;
}
.foto{
    position: absolute;
    top: 0;
    left: 0;
}

.foto:hover{
    display: none;
}

.foto2:hover{
    position: relative;
    top: 0;
    left:0;
}
/* PROFILE BOTTOM */

.price{
    color: orangered;
}
.price-sconto{
    text-decoration-line:line-through;
    margin-left: 5px;
}

/* FOOTER */
.footer{
    background-color:#1A1A1A;
    min-height: 80px;
}

.foot{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:20px 0;
}

.foot-left h4,
.foot-nav h4{
    color: white;
}